@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* ====================> Global Style <====================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --section-margin: 40px;
  --section-padding: 20px;

  /* ===> Colors <=== */
  --primary-color: #c7b9a9;
  --main-text-color: rgb(33, 33, 41);
  --Secondary-text-color: rgb(89, 89, 89);

  /* ===> Font <=== */
  --heading-font: "Raleway", sans-serif;
}


#homedetails {
  margin: var(--section-margin) 0; 
  padding:50px 0px ; 
  background:#c7b9a9;
  font-family: var(--heading-font);
  
}
#homedetails h2{
  font-size: 22px;
}
#homedetails p{
  color: var(--Secondary-text-color);
  font-size:18px;
  margin-top: 20px;
}
#homeproducts{

  font-family: var(--heading-font);
}

#homeproducts h2{
  font-size: 30px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: normal;
}

#homeproducts h3{
  font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
    text-align: center;
}
 .product-card img {
      width: 100%;
      height: 286px;
      object-fit: cover;
      border-radius: 0 !important;
    }
  .product-card{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }  
    .card{
      border-radius: 0 !important;
       border: none !important;
      box-shadow: none !important;
      
    }
    .card:hover{
     cursor: pointer;
      
    }
    .card-body h6{
      font-weight: 300;
    }
  
    .newprice{
      color:  #cf9362;
      font-size: 0.9rem;
    }
    .old-price {
      text-decoration: line-through;
      color: gray;
      font-size: 0.9rem;
    }

