/* ***************************  global style ************************** */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

/* ****** client section ***** */
.carousel-indicators [data-bs-target] {
  background-color:  #e65f78;
  border: 1px solid  #e65f78;
  border-radius: 10px;
  width: 15px;
  height: 10px;
}

.carousel-indicators .active {
  width: 20px;
}
.main-color{
  color:  #e65f78 ;
}